<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <title>League of Legends Champions</title>
    <link rel='stylesheet' href='css/style.css' type='text/css'/>
</head>

<header>
    <h1>League of Legends Champions</h1>
    <%- include('../components/nav_bar'); %>
</header>

<body>
    <table id='champions' class='dataViewTable'>
        <tr>
            <th>Name</th>
            <th>Difficulty</th>
            <th>Ban Rate</th>
            <th>Pick Rate</th>
            <th>Win Rate</th>
            <th>Passive</th>
            <th>Q</th>
            <th>W</th>
            <th>E</th>
            <th>R</th>
        </tr>
        <% if(champions.length != 0) { %>
            <% champions.forEach(function(data) { %>
            <tr>
                <td><%=data.name%></td>
                <td><%=data.difficulty_level%></td>
                <td><%=data.ban_rate%></td>
                <td><%=data.pick_rate%></td>
                <td><%=data.win_rate%></td>
                <td><%=data.P%></td>
                <td><%=data.Q%></td>
                <td><%=data.W%></td>
                <td><%=data.E%></td>
                <td><%=data.R%></td>
                <td><a href="/champions/edit?id_champion=<%=data.id_champion%>">Edit</a></td>
                <td><a href="/champions/delete/?id_champion=<%=data.id_champion%>">Delete</a></td>
            </tr>
            <% }) %>
        <% } else { %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
    </table>
    <br><br>
    <h2>{champions.name} skills</h2>
        <table id='skills' class='dataViewTable'>

        <tr>
            <td>Q</td>
            <td>{id_skill.name}</td>
            <td>{id_skill.description}</td>
        </tr>
        <tr>
            <td>W</td>
            <td>{id_skill.name}</td>
            <td>{id_skill.description}</td>
        </tr>
        <tr>
            <td>E</td>
            <td>{id_skill.name}</td>
            <td>{id_skill.description}</td>
        </tr>
        <tr>
            <td>R</td>
            <td>{id_skill.name}</td>
            <td>{id_skill.description}</td>
        </tr>
        <tr>
            <td>P</td>
            <td>{id_skill.name}</td>
            <td>{id_skill.description}</td>
        </tr>
</body>
</html>