<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <title>Edit Champion</title>
    <link rel='stylesheet' href='../css/style.css' type='text/css'/>
</head>

<header>
    <h1>Edit Champion</h1>
    <%- include('../components/nav_bar'); %>
</header>

<body>
    <br><h1><%= champion.name %></h1><br>
    <table id='champion' class='dataViewTable'>
        <tr>
            <th>Name</th>
            <th>Difficulty</th>
            <th>Ban Rate</th>
            <th>Pick Rate</th>
            <th>Win Rate</th>
        </tr>
        <tr>
            <td><%=champion.name%></td>
            <td><%=champion.difficulty_level%></td>
            <td><%=champion.ban_rate%></td>
            <td><%=champion.pick_rate%></td>
            <td><%=champion.win_rate%></td>
        </tr>
    </table>

    <br></br>
    <h2>Edit Champion Information</h2>
    <sub class = 'note'>
        *** Only Difficulty, Ban Rate, Pick Rate, and Win Rate are editable on a Champion.
    </sub>
    <br><br>
    <form action='edit?id_champion=<%=champion.id_champion%>' method='POST'>
        <label for='difficulty_level'>Difficulty:</label>
        <select name='difficulty_level' id='difficulty_level' size='1'>
            <option value='1'>Easy</option>
            <option value='2'>Medium</option>
            <option value='3'>Hard</option>
        </select>
        
        <label for='ban_rate'>Ban Rate:</label>
        <input id='ban_rate' name='ban_rate' type='number' step='0.1'>

        <label for='pick_rate'>Pick Rate:</label>
        <input id='pick_rate' name='pick_rate' type='number' step='0.1'>

        <label for='win_rate'>Win Rate:</label>
        <input id='win_rate' name='win_rate' type='number' step='0.1'>

        <input type='submit' value='Submit'>
    </form>

    <br><br>
    <h2>Skills</h2><br>
        <table id='skills' class='dataViewTable'>
            <tr>
                <th>Skill Type</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Passive</td>
                <td><%=champion.P%></td>
                <td><%=champion.P_desc%></td>
            </tr>
            <tr>
                <td>Q</td>
                <td><%=champion.Q%></td>
                <td><%=champion.Q_desc%></td>
            </tr>
            <tr>
                <td>W</td>
                <td><%=champion.W%></td>
                <td><%=champion.W_desc%></td>
            </tr>
            <tr>
                <td>E</td>
                <td><%=champion.E%></td>
                <td><%=champion.E_desc%></td>
            </tr>
            <tr>
                <td>R</td>
                <td><%=champion.R%></td>
                <td><%=champion.R_desc%></td>
            </tr>
        </table>
</body>
<footer>
    <h3>By Jeremy Steele and Sean Siders for CS 340</h3>
</footer>
</html>