<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <title>Matches</title>
    <link rel='stylesheet' href='css/style.css' type='text/css'/>
</head>

<header>
    <h1>League of Legends Matches</h1>
    <%- include('../components/nav_bar'); %>
</header>

<body>
    <div id='entrance'>
        <h1>Match Summary </h1>
    </div>
    <table class='dataViewTable'>
        <tr>
            <th>Team</th>
            <th>Won Game</th>
            <th>Total Gold</th>
            <th>Champion #1</th>
            <th>Champion #2</th>
            <th>Champion #3</th>
            <th>Champion #4</th>
            <th>Champion #5</th>
        </tr>
        <% matches.forEach((match) => { %>
            <tr>
                <td>Red</td>
                <% if (match.winning_team == 'red') { %>
                    <td><input type='radio' onclick='return false;' checked></td>
                <% } else { %>
                    <td><input type='radio' onclick='return false;'></td>
                <% } %>
                <td><%=match.red_team.total_gold_earned%></td>
                <% match.red_team.played_champions.forEach((champion) => { %>
                    <% if (champion) { %>
                        <td><%=champion.champion_name%></td>
                    <% } else { %>
                        <td></td>
                    <% } %>
                <% }) %>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <% match.red_team.played_champions.forEach((champion) => { %>
                    <% if (champion) { %>
                        <td><%=champion.summoner_name%></td>
                    <% } else { %>
                        <td></td>
                    <% } %>
                <% }) %>
            </tr>

            <tr>
                <td>Blue</td>
                <% if (match.winning_team == 'blue') { %>
                    <td><input type='radio' onclick='return false;' checked></td>
                <% } else { %>
                    <td><input type='radio' onclick='return false;'></td>
                <% } %>
                <td><%=match.blue_team.total_gold_earned%></td>
                <% match.blue_team.played_champions.forEach((champion) => { %>
                    <% if (champion) { %>
                        <td><%=champion.champion_name%></td>
                    <% } else { %>
                        <td></td>
                    <% } %>
                <% }) %>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <% match.blue_team.played_champions.forEach((champion) => { %>
                    <% if (champion) { %>
                        <td><%=champion.summoner_name%></td>
                    <% } else { %>
                        <td></td>
                    <% } %>
                <% }) %>
            </tr>

            <!-- TODO: spacing of match entries through CSS -->
            <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        <% }) %>
    </table>
    <br>
    <h3>Create a new match</h3>
        <form action="create_match" method="get">
            <input type="submit">
        </form>
    <h3> Delete this match </h3>
        <form action='matches' method='get'>
            <input type='submit'>
        </form>

</body>
<footer>
    <h3>By Jeremy Steele and Sean Siders for CS 340</h3>
</footer>

</html>